html {
	height: 100%;
}
body {
	font-family: "Raleway", sans-serif;
	font-size: 17px;
	letter-spacing: 0.02em;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	height: 100%;
}
ul,li,p {
	display: block;
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}

a {
	color: #000;
}
a:hover {
	text-decoration: none;
}
button:focus {
	outline: none;
}
textarea,
input:focus {
	outline: none;
}
.btn {
	background: #6E9C9F;
	font-weight: 500;
	font-size: 17px;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: center;
	display: inline-block;
	color: #fff;
	padding: 22px 55px;
	border: none;
	transition: background 0.5s ease;
}

.btn:hover {
	background: #509498;
	transition: background 0.5s ease;
	color: #fff;
}

/*  Первый экран  */

.header {
	padding-top: 51px;
}
.header {
	transition: transform .1s linear;
}
.header.fixed {
	background:#fff;
	padding: 51px 0 25px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100000;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
}
.logo {
	background: url('../img/logo/logo.png') no-repeat;
	display: block;
	color: #000;
	width: 139px;
	height: 25px;
	transition: transform 0.5s ease;
}
.logo:hover {
	transform: scaleX(1.05);
	transition: transform 0.5s ease;
}
.menu {
}

.menu__list {
}
.mobile-menu__img {
	background: url('../img/logo/menu.png') no-repeat center;
	width: 25px;
	height: 15px;
}
.menu__item:not(:last-of-type) {
	padding-right: 45px; 
}
.menu__link {
	font-size: 15px;
	display: inline-block;
	transition: color 0.5s ease;
	width: 75px;
}

.menu__link_active {
	font-weight: bold;
	color: #6E9C9F;
}
.menu__link:hover {
	font-weight: bold;
	color: #6E9C9F;
	transition: color 0.5s ease;
}
.menu__contact {
	background: url('../img/logo/telephone.png') no-repeat center;
	width: 27px;
	height: 27px;
	display: block;
	border: none;
	margin-right: 9px;
	transition: background-color 0.5s ease;
}
.menu__contact:hover {
	background: url('../img/logo/telephone1.png') no-repeat center;
	background-color: #6E9C9F;
	transition: background-color 0.5s ease;
}
.menu__phone {
	margin-right: 67px;
	transition: color 0.5s ease;
}
.menu__phone:hover {
	color:#6E9C9F;
	transition: color 0.5s ease;
}
.menu__basket {
	background: url('../img/logo/shopping-bags.png') no-repeat;
	width: 24px;
	height: 24px;
}
.basket-number {
	color: #fff;
	font-size: 9px;
}
.basket-number:before {
	content: '3';
	display: block;
	width: 15px;
	height: 15px;
	background: #998E78;
	border-radius: 50px;
	text-align: center;
	margin: 0px 0px 32px 20px;
	line-height: normal;
	display: none;
}


/* Офферс */

.offers {
	padding-bottom: 58px;
	overflow: hidden;
}
.offers::after {
	content: '';
	background: #F1EADC;
	position: absolute;
	width: 42%;
	height: 833px;
	right: 0px;
	top: 0px;
	z-index: -1;
}
.offer {
}
/* Slider */

.slick-track{
	display: flex;
	/* align-items: flex-start; */
	
}
.slick-slide {
	
}
.slick-list {
	overflow: hidden;
	
}
.slick-dots {
	display: flex;
}
.slick-dots li{
	list-style: none;
	margin-right: 12px;
}
.slick-dots button {
	font-size: 0;
	width: 30px;
	height: 4px;
	background: #D1D1D1;
	border: none;
	cursor: pointer;
}
.slick-dots li.slick-active button{
	background: #000;
}
.offer__title{
	font-size: 55px;
	font-weight: 500;
	line-height: 110%;
	margin-top: 186px;
}
.offer__text {
	font-weight: normal;
	font-size: 20px;
	line-height: 140%;
	text-align: right;
	width: 385px;
	margin: 45px 0 52px;
}
.offer__direction {
	width: 385px;
}
.offer__arrow-down {
	background: url('../img/logo/arrow_down.png') no-repeat center;
	width: 68px;
	height: 68px;
	display: block;
	background-color: rgba(110, 156, 159, 0.1);
}
.offer__btn {
}
.offer__slider_two {
	margin-top: 41px;
	margin-left: auto;
	display: block;
	position: relative;
	z-index: 1;
	width: 70%;
	
}
.offer__img-first {
	height: auto;
}
.offer__img-second {
	position: absolute;
	z-index: 1;
	top: 62%;
	left: 6%;
	
}
.offer__img-third {
	position: absolute;
	z-index: 1;
	top: 27%;
	right: 0;
	margin-right: -90px;
}
.offer-dots__wrapper {
	margin-top: 126px;
	width: 385px;
}
.active {
	background: #000;
}
/* Вторая секция */

.collection {
	padding-top: 130px;
	padding-bottom: 65px;
}
.new-collection {
	font-weight: 500;
	font-size: 40px;
	line-height: 110%;
	margin-bottom: 92px;
}

.gallery {
	text-align: center;
	
}
.gallery__box {
	position: relative;
}
.gallery__img {
}
.gallery__img-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: none;
	transition: opacity 0.5s ease;
	background: rgba(110, 156, 159, 0.77) url('../img/logo/Vector_right.png') no-repeat center;
}
.gallery__box:hover .gallery__img-overlay {
	opacity: 1;
	transition: opacity 0.5s ease;
	cursor: pointer;
}
.gallery__title {
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	margin: 24px 0 7px;
}
.gallery__price {
	font-weight: 500;
	font-size: 15px;
	line-height: 140%;	
	letter-spacing: 0.02em;
	color: #998E78;	
}
.gallery__price-discount {
	text-decoration-line: line-through;
	margin-right: 10px;
	color: #9C9C9C;
}
.gallery__btn {
	background: none;
	border: 1px solid #6E9C9F;
	margin-top: 65px;
	color: #6E9C9F;
	transition: background 0.5s ease;
}
.gallery__btn:hover {
	background: #6E9C9F;
	transition: background 0.5s ease;
}

/* Modal */

.modal {
}
.modal__wrapper {
	display: none;
}
.modal__wrapper.active {
	display: block;
}
.modal__overlay {
	position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99991;
   background: rgba(110, 156, 159, 0.95);
   opacity: 0.5;
}
.modal__window {
	width: 491px;
	height: 503px;
	position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: 999999;
   background-color: #fff;
}
.modal__form {
	padding: 70px;
}
.connection__title-modal {
	text-align: center;
}
.connection__btn_modal {
	width: 100%;
}
.modal__close {
	background: url('../img/logo/Close.png') no-repeat center;
	width: 15px;
	height: 15px;
	border: none;
	position: absolute;
	top: 6%;
	right: 31px;
}
.modal-success__wrapper {
	display: none;
}
.modal-success__wrapper.active {
	display: block;
}
.modal__window_modal-success {
	width: 600px;
	height: 278px;
	padding: 70px;
}
.connection__title_modal-success {
	padding-bottom: 35px !important;
}
.gallery__btn_modal-success {
	margin: 0 auto;
}
.modal__overlayTwo {
	position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99991;
   background: rgba(110, 156, 159, 0.95);
   opacity: 0.5;
}


/* Третья секция */

.important {
	padding-top: 65px;
	padding-bottom: 65px;
}
.descs {
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 110%;
	margin-bottom: 92px;
}

.desc__img {
	width: 61px;
	height: 61px;
}
.desc__title {
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 140%;
	margin: 37px 0 24px;
}
.desc__text {
	width: 305px;
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
}

/* третья секция */

.command {
	padding-top: 65px;
	padding-bottom: 130px;
}
.dream {
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 110%;
	margin-bottom: 92px;
}

.dream__slider {
	position: relative;
}
.dream__slider-item {
	display: none;
	
}
.dream__slider-item.active {
	display: block;
}
.dream__slider-wrapper {
}
.dream__slider-btn {
	border: none;
	width: 28px;
	height: 17px;
	cursor: pointer;
	transition: background 0.5s ease;
}
.dream__slider-btn:hover {
	background: url('../img/logo/Vector_2.png');
	transition: background 0.5s ease;
}
.dream__slider-btn-prev {
	background: url('../img/logo/Vector_1.png');
	margin-left: -46px;
}
.dream__slider-btn-next {
	background: url('../img/logo/Vector_1.png');
	transform: rotate(180deg);
	margin-right: -46px;
}
.dream__slider-dots-wrapper {
	position:absolute;
	z-index: 1;
	bottom: 12%;
	right: 42%;
}
.dream__slider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: rgba(255, 255, 255, 0.36);
	margin-right: 12px;
	cursor: pointer;
}
.dream__slider-dot:last-child {
	margin-right: 0;
}
.dream__slider-dot.active {
	background: #fff;
	
}

.dream__title {
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 140%;
	margin-bottom: 28px;
}
.dream__text {
	font-style: normal;
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
}
.dream__text:not(:last-of-type) {
	padding-bottom: 25px; 
}
.dream__link {
	color: #6E9C9F;
	width: 182px;
	margin-top: 28px;
	font-weight: 500;
	line-height: 140%;
	border-bottom: 1px solid #fff;
	transition: border-bottom 0.5s ease;
}
.dream__link:hover {
	color: #6E9C9F;
	border-bottom: 1px solid #CEDEDF;
	transition: border-bottom 0.5s ease;
}
/* Футер */

.footer {
	padding-top: 101px;
	padding-bottom: 101px;
	background: #F1EADC;
}
.footer-content {
}
.info-footer {
	font-weight: normal;
	font-size: 13px;
	line-height: 140%;
	display: inline-block;
	padding: 70px 0 6px;
}
.info-footer__link {
	font-weight: normal;
	font-size: 13px;
	line-height: 140%;
	display: inline-block;
	transition: color 0.5s ease;
}
.info-footer__link:hover {
	color: #6E9C9F;
	border-bottom: 1px solid #CEDEDF;
	transition: color 0.5s ease;
}

.menu__link-footer {
	margin-bottom: 39px;
}
.menu__link_active {
}
.menu__link-submenu {
	display: inline-block;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 13px;
	line-height: 140%;
	border-bottom: 1px solid #F1EADC;
	transition: border-bottom 0.5s ease;
}
.menu__link-submenu:hover {
	color: #6E9C9F;
	border-bottom: 1px solid #CEDEDF;
	transition: border-bottom 0.5s ease;
}
.menu__link-submenu:last-child {	
	margin-bottom: 0;
}
.menu__list-contact {
}
.menu__item-contact {
}
.menu__phone-footer {
	font-weight: normal;
	font-size: 15px;
	display: block;
	margin-right: 0;
}
.menu__item-contact-email {
	display: inline-block;
	margin: 9px 0 30px;
	font-weight: normal;
	font-size: 15px;
	line-height: 140%;
	transition: color 0.5s ease;
}
.menu__item-contact-email:hover {
	color: #509498;
	transition: color 0.5s ease;
}
.menu__item-contact_social {
	margin-right: 12px;
}
.menu__item-contact_social:last-child {
	margin-right: 0px;
}
.menu__item-contact_img {
	margin-top: 30px;
}

/* страница Shop */

.headline {
	padding-bottom: 107px;
}
.subject {
	margin: 190px 0 26px;
	font-weight: 500;
	font-size: 55px;
	line-height: 110%;
}
.subject__menu {
}
.subject__title {
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	
}
.subject__link {
	transition: color 0.5s ease;
}
.subject__link:hover {
	color: #509498;
	transition: color 0.5s ease;
}
.subject__link::after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 1px;
	background: #000;
	text-align: center;
	margin: 4px 13px;
}
.subject__item {
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	color: #919191;
}

/* вторая секция */

.tab__wrapper {
}
.tab__btns {
}
.tab__btn {
	background: none;
	padding: 19px 65px;
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	border: 1px solid #000000;
	margin-right: 8px;
}
.tab__btn:last-child {
	margin-right: 0;
}
.tab__btn-active {
	background: #000;
	color: #fff;
	cursor: text!important;
}
.tagline {
	display: inline-block;
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	color: #808080;
	padding: 92px 0 65px;
}
.gallery__shop {
	margin-bottom: 65px;
}
.pagination {
	padding-bottom: 65px;
}
.pagination__btns {
}
.pagination__btn {
	background: none;
	padding: 9px 17px;
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	border: 1px solid #000000;
	margin-right: 8px;
}
.pagination__btn-active {
	background: #000;
	color: #fff;
	cursor: text!important;
}
.pagination__btn-arrow {
	background: url('../img/logo/VectorShop.png');
	width: 20px;
	height: 11px;
	border: none;
}
.gallery-two {
	display: none;
}

/* Страница OneItem */

/* вторая секция */
.features {
	padding-bottom: 65px;
}

.feature__img {
	width: 100%;
}
.benefits {
	margin-left: 40px;
}
.benefits__price {
	font-weight: 500;
	font-size: 40px;
	line-height: 110%;
	color: #998E78;
}
.benefits__price-discount {
	font-size: 30px;
	text-decoration-line: line-through;
	color: #9C9C9C;
	margin-left: 29px;
}
.benefits__size {
	margin: 59px 0 34px;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;	
}
.benefits-tab__wrapper {
}
.benefits-tab__btns {
}
.benefits-tab__btn {
	background: none;
	width: 41px;
	height: 41px;
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	border: 1px solid #000;
}
.benefits-tab__btn-active {
	background: #000;
	color: #fff;
	cursor: text!important;
}
.benefits__color {
	margin: 59px 0 34px;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;	
}
.benefits__color-wrapper {
}
.benefits__color-btns {
	
}
.color-btn1 {
	background: linear-gradient(0deg, #927876, #927876), #927876;
}
.color-btn2 {
	background: #D5D5D5;
}
.color-btn3 {
	background: #FD9696;
}
.color-btn4 {
	background: #FDC796;
}

.benefits__color-btn {
	width: 41px;
	height: 41px;
	border: none;
	border-radius: 100px;
	border: 1px solid #fff;
}
.benefits__color-btn-active {
	border: 1px solid #000;
}
.benefits__form {
	margin-top: 59px;
}
.benefits__count {
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 1px solid #AFAFAF;
	margin-right: 11px;
	font-weight: normal;
	font-size: 20px;
	line-height: 140%;
	text-align: center;		
}
.benefits__count::-webkit-inner-spin-button {
	display: none;
}
.benefits__count:focus {
	outline: none;
}
.benefits__btn {
	border: none;
}

/* третья секция */
.collection__oneitem {
	padding-top: 65px;
	padding-bottom: 130px;
}

/* страница About */

.abouts {
	padding-top: 107px;
	padding-bottom: 130px;
}
.about {
	
}
.about__gallery {
	
}
.size {
	margin-bottom: 130px;
}
.about__box {
}
.about__title {
	font-weight: 500;
	font-size: 25px;
	line-height: 140%;
	margin-bottom: 46px;
}
.about__text {
	font-weight: 500;
	font-size: 17px;
	line-height: 140%;
	margin-bottom: 26px;
}
.about__text:last-child {
	margin-bottom: 0;
}

/* страница Контакты */

.maps {
	padding-top: 107px;
	padding-bottom: 65px;
}
.map__title {
	background: #DDDDDD;
	width: 100%;
	height: 476px;
	
}
.contacts {
	padding-top: 65px;
	padding-bottom: 65px;
}

.contact {
}
.contact__box {
}
.contact__title {
	padding-bottom: 19px;
}
.menu__phone-contact {
	font-size: 20px;
}
.contact__email {
	transition: color 0.5s ease;
	font-size: 20px;
}
.contact__address {
	font-size: 20px;
	transition: color 0.5s ease;
}
.contact__address:hover {
	color: #6E9C9F;
	transition: color 0.5s ease;
}
.contact__email:hover {
	color: #6E9C9F;
	transition: color 0.5s ease;
}

.connections {
	padding-top: 65px;
	padding-bottom: 130px;
}
.connection__title {
	font-weight: 500;
	font-size: 25px;
	padding-bottom: 62px;
}
.connection__form {
	
}
.connection__input {
	border: none;
	border-bottom: 1px solid #000;
	margin-bottom: 35px;
	width: 350px;
	padding-bottom: 16px;
}
.connection__area {
	border: none;
	border-bottom: 1px solid #000;
	margin-bottom: 35px;
	height: 134px;
	resize: none;
}
.connection__btn {
	margin-bottom: 62px;
	border: none;
	width: 194px;
}
.connection__success {
	display: inline-block;
	background: #F1EADC;
	padding: 30px 76px;
	display: none;
}
.connection__not-success {
	display: inline-block;
	background: #f87a5e;
	padding: 30px 76px;
	display: none;
}

/* страница корзины */

.carts {
	padding-top: 107px;
}
.cart {
	padding-bottom: 26px;
	border-bottom: 1px solid #CCCCCC;
}
.cart__title {
	font-weight: 500;
	font-size: 20px;
	
}
.cart__title_product {
	width: 475px;
}
.cart__title_price {
	width: 190px;
}
.cart__title_count {
	width: 285px;
}
.cart__title_all {

}
.cart-content {
	padding-top: 49px;
}
.cart-content__btn {
	background: url('../img/logo/Close.png') center;
	border: none;
	width: 12px;
	height: 12px;
	margin-right: 36px;
}
.gallery__img-cart-content {
	width: 125px;
	height: 179px;
}
.gallery__img-overlay {
}
.gallery__title-cart-content {
	font-size: 17px;
	margin: 0 0 0 36px;
}
.gallery__price-cart-content {
	font-size: 17px;
	color: #000;
}
.benefits__count-cart-content {
	width: 47px;
	height: 47px;
	font-size: 19px;
}
.cart-form {
	padding-top: 77px;
}
.cart-form__item {
	border: none;
	border-bottom: 1px solid #000;
	width: 255px;
	padding-bottom: 23px;
}
.cart-form__btn {
	margin: 0 0 0 10px;
}
.cart-form__btn_update {
	margin: 77px 0 0 0;
	padding: 22px 45px;
}
.cart-total {
	margin: 88px 0 28px;
}
.cart-total__text {
	margin-right: 20px;
}
.cart-total__box {
	padding-bottom: 130px;
}
.cart-total__title {
	margin: 0 69px 0 31px;
	font-weight: 500;
	font-size: 25px;
}
.cart-total__overley {
	width: 287px;
	background: #F1EADC;
	margin-right: 15px;
}
.cart-total__price {
	font-size: 25px;
}
.cart-total__btn {
	padding: 22px 50px;
}

/* Страница оформление заказа  */

.checkout {
	padding-top: 107px;
	padding-bottom: 130px;
}
.connection__title-form-checkout {
	padding-bottom: 47px;
}
.connection__input-form-checkout {
	margin-bottom: 81px;
}
.connection__area-form-checkout {
	height: 134px;
	margin-bottom: 0;
	width: 100%;
}
.form-checkout__box {
	width: 255px;
}
.form-checkout__title {
	font-weight: 500;
	font-size: 20px;
	padding-bottom: 30px;
}
.cart-total-form-checkout {
	margin: 30px 0;
	width: 255px;
}
.cart-total__box-form-checkout {
	padding-bottom: 159px;
}
.cart-total__overley-form-checkout {
	margin: -17px;
	padding: 18px;
}
.cart-total__title-form-checkout {
	font-size: 20px;
	margin: 0;
}
.cart-total__price-form-checkout {
	font-size: 20px;
	margin: 0;
}
.form-checkout__input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.form-checkout-label {
	position: relative;
	vertical-align: middle;
	padding: 0 0 0 40px;
	cursor: pointer;
}
.form-checkout__input + label:before {
	content: '';
	position: absolute;
	top: -1px;
	left: 0;
	width: 22px;
	height: 22px;
	border: 1px solid #000;
}
.form-checkout__input + label:after {
	content: '';
	position: absolute;
}
.form-checkout__input:checked + label:after {
	position: absolute;
	top: 6px;
	left: 6px;
	background: #000;
	height: 10px;
	width: 10px;
}

.connection__btn-form-checkout {
	margin: 47px 0 0 0; 
	width: 250px;
	padding: 22px 30px;
}
.form-checkout__link {
	color: #fff;
	transition: color 0.5s ease;
}
.form-checkout__link:hover {
	color: #fff;
	transition: color 0.5s ease;
}

/* Страница заказ получен */
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.success {
	padding-top: 107px;
	padding-bottom: 130px;
	flex: 1 1 auto;
}
.done__img {
	margin-right: 44px;
}
.done__title {
	margin-bottom: 17px;
	font-weight: 500;
	font-size: 25px;
}
/* responsive */

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1199.98px) {

	/* Главная */
	.offers {
		overflow: hidden;
	}
	.offers::after {
		height: 0px;
	}
	.menu__phone {
		margin-right: 25px;
	}
	.gallery__img {
		width: 100%;
	}
	.dream__slider {
		margin-left: 40px;
	}
	.dream__slider-item {
		width: 100%;
	}
	.menu__phone-footer {
		margin-right: 0;
	}
	.header.fixed {
		padding: 22px 0 18px;
		
	}
	/* Магазин */

	.subject {
		margin: 100px 0px 20px;
		font-size: 45px;
	}
	.headline {
		padding-bottom: 25px;
   }
	.collection {
		padding: 40px 0;
   }
	.footer {
		padding: 40px 0;
	}
	.tab__btn {
		margin-bottom: 15px;
	}
	.tagline {
		padding: 30px 0;
	}
	.pagination {
		padding-bottom: 20px;
   }
	/* Один товар */
	.feature__img {
		margin-bottom: 15px;
	}
	/* О бренде */
	.abouts {
		padding: 30px 0;
	}
	/* Контакты */

	/* Корзина */
	.carts {
		padding-top: 40px;
   }
	.scroll {
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;
		width: 100%;
		height: 350px;
		font-size: 0;
	}
	.cart {
		display: inline-block;
		width: 1110px;
		
	}
	.cart-content__box {
		width: 475px;
	}
	.gallery__img.gallery__img-cart-content {
		width: 125px;
      height: 179px;
	}
	.gallery__price.gallery__price-cart-content {
		margin-bottom: 0;
		width: 190px;
		margin-right: 150px;
	}
	.benefits__count-cart-content {
		margin-right: 285px;
	}
	.cart-form__btn_update {
		margin: 94px 0 0;
		padding: 22px 20px;
   }
	.cart-form {
		padding-top: 30px;
   }
	.cart-form__btn {
		margin: 20px 0 0;
   }
	.cart-total__title {
		margin: 0 35px 0 31px;
	}
	.cart-total__overley {
		width: 240px;
   }
	.cart-total__btn {
		padding: 22px 27px;
   }
	.cart-total__box {
		padding-bottom: 60px;
   }
	/* Оформление заказа */
	.gallery__price.gallery__price-checkout {
		margin-right: 0;
		width: 15%;
	}
	.cart-total__overley-form-checkout {
		width: 291px;
	}
	.cart-total__title-form-checkout {
		margin-left: 0;
	}
	.done__img {
		margin-bottom: 20px;
	}
	.success {
		padding: 35px 0;
   }
}

/*  Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
	/* Главная */
	.menu__list {
		display: none;
		position: absolute;
		right: 100px;
		top: 0;
		background: #fff;
		border-radius: 5px;
		z-index: 9999;
		box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
		width: 100%;
	}
	.menu__list a {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding: 12px;
		font-size: 19px;
	}
	.menu__item:not(:last-of-type) {
		padding: 10px;
   }
	.menu__item:last-child {
		padding: 10px;
   }
	.offer__title {
		font-size: 30px;
		margin-top: 85px;
		text-align: center;
	}
	.offer__text {
		font-size: 17px;
		width: 100%;
		text-align: center;
	}
	.offer__direction {
		width: 100%;
	}
	.offer-dots__wrapper {
		margin-top: 45px;
		width: 100%;
	}
	.offer__slider_two {
		width: 50%;
		margin: 40px auto 0px;
	}
	.offer__img-third {
		margin-right: 35px;
	}
	.collection {
		padding: 50px 0;
	}
	.new-collection {
		margin-bottom: 50px;
		font-size: 30px;
	}
	.gallery__img {
		width: 70%;
   }
	.gallery__price {
		margin-bottom: 20px;
		display: inline-block;
	}
	.gallery__btn {
		margin-top: 15px;
	}
	.important {
		padding: 50px 0;
	}
	.descs {
		font-size: 30px;
		margin-bottom: 45px;
	}
	.desc__text {
		margin-bottom: 20px;
		width: 100%;
	}
	.desc__text:nth-child(2) {
		margin-bottom: 0px;
	}
	.command {
		padding: 50px 0;
	}
	.dream {
		font-size: 30px;
		margin-bottom: 45px;
	}
	.dream__slider-wrapper {
		width: 90%;
	}
	.dream__title {
		margin-top: 20px;
	}
	.footer {
		padding: 60px 0;
	}
	/* Магазин */

	.subject {
		margin: 50px 0px 20px;
		font-size: 30px;
	}
	.subject__menu {
		display: none !important;
	}
	.headline {
		padding-bottom: 25px;
   }
	.collection {
		padding: 30px 0;
   }
	.tab__btns {
		width: 50%;
		display: flex;
		flex-direction: column;
	}
	.tab__btn {
		margin-right: 0;
	}
	.footer {
		padding: 30px 0;
	}
	.tab__btn {
		padding: 15px 55px;
	}
	.tagline {
		padding: 25px 0;
	}
	.gallery__shop {
		margin-bottom: 0px;
   }
	/* Один товар */
	.benefits {
		margin-left: 0px;
   }
	.benefits__price {
		font-size: 30px;
	}
	.benefits__size {
		margin: 30px 0 20px;
   }
	.benefits__color {
		margin: 30px 0 20px;
   }
	.features {
		padding-bottom: 30px;
   }
	/* О бренде */
	.about__gallery {
		margin-bottom: 15px;
	}
	.about__gallery {
		text-align: center;
	}
	.about__title {
		margin-bottom: 15px;
	}
	.about__text {
		text-align: justify;
	}
	.size {
		margin-bottom: 40px;
   }
	.about__text:last-child {
		margin-bottom: 20px;
   }
	/* Контакты */
	.maps {
		padding: 30px 0;
   }
	.contacts {
		padding: 30px 0;
   }
	.contact__box {
		margin-bottom: 20px;
	}
	.connections {
		padding: 30px 0;
	}
	/* Корзина */
	.cart-form__btn_update {
		padding: 22px 52px;
   }
	.cart-total__btn {
		padding: 22px 50px;
	}

	/* Оформление заказа */
	.checkout {
		padding: 40px 0;
   }
	.connection__title-form-checkout {
		padding-top: 35px;
   }
	.form-checkout-label {
		margin-right: 20px;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
	/* Главная */
	.offer__img-third {
		width: 25%;
	}
	.offer__img-second {
		width: 25%;
	}
	.collection {
		padding: 40px 0;
	}
	.important {
		padding: 40px 0;
	}
	.command {
		padding: 40px 0;
	}
	/* Магазин */

	/* Один товар */
	.benefits__form {
		margin-top: 25px;
   }
	/* О бренде */
	.about__text {
		font-size: 15px;
	}
	/* Контакты */

	/* Корзина */
	.cart-total {
		margin: 30px 0 28px;
   }
	.cart-total__btn {
		max-width: 259px;
		margin-top: 15px;
	}
	.cart-total__overley {
		max-width: 259px;
		margin-right: 0;
		padding: 22px;
		width: 100%;
   }
	/* Оформление заказа */
	.checkout {
		padding: 20px 0;
   }
}

/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
	/* Главная */
	.header {
		padding-top: 30px;
	}
	.offer__title {
		font-size: 25px;
	}
	.offer__text {
		font-size: 15px;
		margin: 25px 0 30px;
	}
	.offer__direction {
		width: 100%;
	}
	.offer__arrow-down {
		width: 50px;
		height: 50px;
	}
	.offer__btn {
		font-size: 15px;
		padding: 13px 55px;
	}
	.offer-dots__wrapper {
		margin-top: 30px;
		width: 100%;
	}
	.offers {
		padding-bottom: 20px;
   }
	.collection {
		padding: 20px 0;
	}
	.important {
		padding: 20px 0;
	}
	.command {
		padding: 20px 0;
	}
	.new-collection {
		margin-bottom: 30px;
		font-size: 22px;
   }
	.gallery__img {
		width: 100%;
   }
	.gallery__title {
		font-size: 17px;
		margin: 20px 0 7px;
	}
	.gallery__btn {
		margin-top: 0px;
		padding: 13px 55px;
	}
	.descs {
		font-size: 22px;
		margin-bottom: 30px;
	}
	.desc__img {
		width: 40px;
		height: 40px;
	}
	.desc__title {
		font-size: 20px;
		margin: 10px 0 15px;
	}
	.desc__text {
		font-size: 15px;
		
	}
	.dream {
		font-size: 22px;
		margin-bottom: 30px;
	}
	.dream__slider-btn-prev {
		display: none;
	}
	.dream__slider-btn-next {
		display: none;
	}
	.dream__slider-wrapper {
		width: 100%;
   }
	.dream__slider {
		margin-left: 0px;
   }
	.dream__slider-dots-wrapper {
		right: 31%;
   }
	.dream__title {
		margin: 10px 0;
		font-size: 20px;
	}
	.dream__text {
		font-size: 15px;
	}
	.dream__link {
		margin-top: 10px;
	}
	.info-footer {
		padding: 13px 0 6px;
	}
	.info-footer__link {
		padding-bottom: 10px;
	}
	.menu__item-contact-email {
		font-size: 12px;
		margin: 9px 0 15px;
	}
	.menu__phone-footer {
		font-size: 13px;
	}
	/* Магазин */
	.tab__btns {
		width: 100%;
	}
	.tab__btn {
		width: 100%;
	}
	/* Один товар */
	.benefits__count {
		margin-right: 0;
	}
	.benefits__btn {
		padding: 13px 35px;
		width: 100%;
	}
	.benefits__price-discount {
		font-size: 25px;
	}
	/* О бренде */
	.about__img {
		width: 100%;
	}
	
	/* Контакты */
	.maps {
		padding: 20px 0;
   }
	.map__title {
		height: 360px;
	}
	.connection__btn {
		margin-bottom: 20px;
		width: 100%;
   }
	.connection__input {
		width: 100%;
	}
	.connection__title  {
		padding-bottom: 30px;
	}
	/* Корзина */
	.cart-form__btn {
		margin: 15px 0;
		padding: 22px 50px;
	}
	.cart-form__item {
		width: 100%;
	}
	.carts {
		padding-top: 20px;
   }
	.cart-total__box {
		padding-bottom: 30px;
   }
	.cart-total__btn {
		padding: 22px 5px;
		font-size: 15px;
   }
	.cart-form__btn_update {
		padding: 22px 47px;
	}
	.gallery__title-cart-content {
		margin: 0 0 0 36px;
   }
	.benefits__count-cart-content {
		margin-right: 285px;
   }
	
	/* Оформление заказа */
	.cart-total__overley-form-checkout {
		width: 275px;
   }
	.connection__title-form-checkout {
		padding-top: 5px;
   }
	.connection__input-form-checkout {
		margin-bottom: 40px;
   }
	.done__title {
		margin-bottom: 10px;
		font-size: 20px;
   }
	.done__text {
		font-size: 15px;
	}
	.done__img {
		width: 50px;
		margin-right: 5px;
   }
	.gallery__btn.gallery__btn_done {
		padding: 13px 30px;
	}

}
@media (max-width: 320px) {
	/* Главная */
	.offer__btn {
		padding: 13px 30px;
   }
	.gallery__btn {
		padding: 13px 40px;
		width: 100%;
   }
	.offer__btn {
		width: 100%;
	}
		/* Магазин */
	.tagline {
		font-size: 15px;
	}
	
	/* Один товар */
	.benefits__btn {
		padding: 13px 10px;
		width: 100%;
	}
	/* О бренде */
	.size {
		margin-bottom: 25px;
   }
	/* Контакты */

	/* Корзина */
	.cart-total__title {
		
		font-size: 19px;
   }
	.cart-total__price {
		font-size: 17px;
   }
	.cart-total__overley {
		margin-right: 0;
		max-width: 290px;
	}
	.cart-total__btn {
		padding: 22px 2px;
		max-width: 290px;
		width: 100%;
	}
	/* Оформление заказа */
}